.footer {
  max-width: 880px;
  margin: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

.footer__copyright {
  width: 318px;
  height: 18px;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (min-width: 580px) and (max-width: 900px) {
  .footer {
    max-width: 581px;
    justify-content: center;
  }

  .footer__copyright {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .footer {
    display: flex;
    justify-content: center;
    max-width: 282px;
  }

  .footer__copyright {
    width: 100%;
    margin-bottom: 36px;
    margin-top: 48px;
  }
}
