.footer {
  max-width: 880px;
  margin: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

.footer__copyright {
  width: 318px;
  height: 18px;
  margin-top: 67px;
  margin-bottom: 60px;
}
