.card {
  display: flex;
  flex-wrap: wrap;
  width: 282px;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image:hover {
  cursor: pointer;
}

.card__wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 25px 20px;
  max-height: 79px;
}

.card__title {
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  max-width: 210px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__button {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  padding: 0;
  transition: 0.5s;
  margin-bottom: 3px;
}

.card__button:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__like-active {
  background: url(../images/heart-active.svg);
}

.card__like-counter {
  color: #000;
  padding: none;
  margin: 0;
  font-size: 13px;
  text-align: center;
}

.card__trash-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  position: absolute;
  border: none;
  padding: 0;
  right: 15px;
  top: 18px;
  width: 18px;
  height: 19px;
}

.card__trash-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
