.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  padding-bottom: 41px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    margin-top: 28px;
  }

  .header__logo {
    padding-bottom: 32px;
  }
}
