.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 7px 18px;
  margin-left: 30px;
}

.profile__avatar-conatainer {
  position: relative;
}

.profile__avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  align-self: center;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

.profile__avatar-edit {
  background: transparent url(../images/edit-avatar-pencil.svg) center no-repeat;
  width: 26px;
  height: 26px;
  border: none;
  position: absolute;
  top: 47px;
  left: 47px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profile__avatar-conatainer:hover .profile__avatar-edit {
  cursor: pointer;
  opacity: 1;
}
.profile__avatar-conatainer:hover .profile__avatar {
  opacity: 0.2;
}

.profile__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__button-edit {
  background: transparent url(../images/pencil.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  align-self: center;
  border: 1px solid #ffffff;
  transition: 0.5s;
}

.profile__button-edit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  margin: 0;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__button-add {
  background: transparent url(../images/plus-sign.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: 0.5s;
}

.profile__button-add:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* 
NOTE TO REVIEWER:

The pixels are set at max 799 in order to account for the Tablet layout with the elongeted header paired with 2 columns. */

@media screen and (min-width: 320px) and (max-width: 799px) {
  .profile {
    flex-direction: column;
  }

  .profile__avatar {
    margin: 0;
    margin-bottom: 30px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    max-width: 282px;
  }

  .profile__title {
    max-width: 196px;
    font-size: 22px;
    padding-left: 43px;
    padding-right: 10px;
  }

  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .profile__button-add {
    width: 282px;
    margin: 0;
  }
}

@media screen and (min-width: 800px) and (max-width: 880px) {
  .profile {
    justify-content: space-around;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__button-add {
    width: 150px;
    margin: 0;
  }
}
